<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<dom-module id="user-dashboard">
  <template>
    <!-- <style>
      :host {
        display: block;
      }
    </style> -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <h1>USER DASHBOARD</h1>
    <iron-pages selected=[[page]] attr-for-selected="component-name">
        <div component-name="login-usuario">
          <h1>{{page}}</h1>
          <login-usuario on-idlogin="loginusuarioevento"></login-usuario>
        </div>
        <div component-name="visor-usuario">
          <h1>{{page}}</h1>
          <visor-usuario id="visorusario" userid=[[userid]]></visor-usuario>
        </div>
    </iron-pages>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UserDashboard extends Polymer.Element {
      static get is() { return 'user-dashboard'; }
      static get properties() {
        return {
          componentName:{
            type: String
          },
          page: {
            type: String,
            value:"login-usuario"
          },
          id : {
            type: Number
          }

        };
      }

      showData(data){
        console.log("Ha llegado respuesta");
      }

      loginusuarioevento(e) {

            console.log("Ni de coña llego aquí....");
            console.log(e);
            console.log(e.detail.id);
            this.page = "visor-usuario";
            this.$.visorusario.userid = Number(e.detail.id);
            console.log("id: " + this.$.visorusario.userid );

            }
    }//Cierre class

    window.customElements.define(UserDashboard.is, UserDashboard);

  </script>
</dom-module>
