<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuentas">
  <template>
  <!-- <style>
      :host {
        display: block;
      }
    </style>  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <div> Lista de cuentas: </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">IBAN</th>
          <th scope="col">balance</th>
        </tr>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{accounts}}">
            <tr>
              <td>{{item.id}}</td>
              <td>{{item.iban}}</td>
              <td>{{item.balance}}</td>
            </tr>
          </template>
      </tbody>
    </table>


    <iron-ajax
      auto
      id="getAccount"
      url="http://localhost:3000/apitechu/v2/accounts/{{id}}"
      handle-as="json"
      on-response="showData">

    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          id: {
            type: Number
          }, iban: {
            type: String
          }, balance: {
            type: Number
          }, accounts:{
            type: Array
          }

        };
      }

      showData(data){
        console.log("Ha llegado respuesta");
        this.accounts = data.detail.response;

      }

    }//Cierre class

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
