<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="visor-estilos">
  <template>
    <style>
      :host {
        display: block;
        border: solid blue;
        all: initial;
      }
      .redbg{
        background-color: red;
      }
      .greybg{
        background-color: grey;
      }
      .greenbg{
        background-color: green;
      }
      .bluebg{
        background-color: blue;
      }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <h3>Visor estilos</h3>
    <div class="row greybg">
      <div class="col-2 offset-1 redbg">Col 1</div>
      <div class="col-3 offset-2 greenbg">Col 2</div>
      <div class="col-4 bluebg">Col 3</div>
    </div>
    <button class="btn">Login</button>
    <button class="btn btn-success">Logout</button>
    <button class="btn btn-info">Logout</button>
    <button class="btn btn-warning">Logout</button>
    <button class="btn btn-danger">Logout</button>
    <button class="btn btn-light">Logout</button>
    <button class="btn btn-dark">Logout</button>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorEstilos extends Polymer.Element {
      static get is() { return 'visor-estilos'; }
      static get properties() {
        return {

        };
      }

    }//Cierre class

    window.customElements.define(VisorEstilos.is, VisorEstilos);
  </script>
</dom-module>
